:root {
  --white: #ffffff;
  --black: #141414;
  --green: #25FFBE;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background: var(--black);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, sans-serif;
}
